body {
    background-image: url('img/pozadie-loginu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto 0;
}

.l {
    height: 400px;
}
.r {
    height: 500px;
}
.o {
    height: 280px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 30px;
}
.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.center form {
    padding:  0 40px;
    box-sizing: border-box;
}
form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    outline: none;
}
.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    /*front-size: 16px;*/
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: green;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: green;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
    width: 100%;
}
.pass {
    margin: -5px 0 20px 5px;
    color: gray;
    cursor: pointer;
}
.pass:hover {
    text-decoration: underline;
}
input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: black;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover {
    border-color: black;
    transition: .5s;
}
.singup_link {
    margin: 10px 0;
    text-align: center;
    font-size: 16px;
    color: gray;
}
.signup_link a {
    color: gray;
    cursor: pointer;
}
.signup_link a:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*Postava*/

@media only screen and (min-width: 970px) {
    .stredny {
        width: 50%;
    }
}

@media only screen and (max-width: 300px) {
    body {
        background-image: url('img/pozadie-loginu2.jpg');
    }
}

@media only screen and (min-width: 1000px) {
    body {
        background-image: url('img/pozadie-loginu.png');
    }
}

@media only screen and (max-width: 970px){
    .stredny {
        width: 85%;
    }
    body {
        background-image: url('img/pozadie-loginu1.jpg');
    }
}

@media only screen and (max-width: 570px){
    .obrazok {
        display: none;
    }
    .statySchopnosti {
        display: none;
    }
    .statyHlava {
        left: 20px;
    }
    .statyAktual{
        left: 20px;
    }
    .center {
        width: 90%;
    }
}

@media only screen and (min-width: 570px){
    .statyHlava {
        left: 192px;
    }
    .statyAktual {
        left: 192px;
    }
    .center {
        width: 350px;
    }
}


header {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 100%;
    display: flex;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
    padding: 0 0;
    z-index: 10;
}
header .navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 10px;
    padding: 0;
}
header .navigation li {
    list-style: none;
    margin: 0 10px;
    opacity: 0.8;
}

header .navigation li:hover {
    opacity: 1;
}

header .navigation img:hover {
    animation: rotation 1s;
}
header .navigation h1 {
    font-size: 20px;
    color: white;
    text-align: center;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.stredny {
    position: relative;
    margin: auto auto 10%;
    top: 200px;
    height: 430px;
}

.priehladny {
    width: 100%;
    height: 90%;
    position: absolute;
    border: 3px solid #19933f;
    background: #adadad;
    opacity: 0.8;
    border-radius: 30px;
}

.obrazok {
    background-size: cover;
    position: absolute;
    background-image: url("img/fiary1.png");
    background-repeat: no-repeat;
    top: 20px;
    width: 150px;
    margin: auto 35px;
    border: 3px solid #19933f;
    border-radius: 30px;
    height: 60%
}

.statyHlava {
    top: 200px;
    right: 20px;
    bottom: 15px;
    position: absolute;
}

.statyHlava h1 {
    font-size: 20px;
    /*font-family: "Arial Black";*/
    letter-spacing: 3px;
    color: white;
    text-align: center;
}

.statyAktual {
    top: 20px;
    right: 20px;
    position: absolute;
}

.statyAktual h1 {
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    text-align: center;
}

.statyAktualRozOkno {
    top: 5px;
    margin: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 15px;
    border: 3px solid #19933f;
    position: relative;
    border-radius: 30px;
}

.statyAktualRozOkno h1 {
    margin-top: auto;
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
    text-align: left;
    margin-left: 10px;
}

.statyAktualRozOkno p {
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
    text-align: right;
    position: absolute;
    top: -12px;
    right: 5px;
}

.staty {
    top: 25px;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.skryteOkno{
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    border: 3px solid #19933f;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: #adadad;
    border-radius: 30px;
}

.skryteOkno p {
    top: -20px;
    left: 10px;
    right: 10px;
    font-size: 14px;
    padding: 5px;
    color: white;
    position: absolute;
    text-align: center;
}

.skryteOkno p1 {
    top: 0;
    left: 10px;
    right: 10px;
    font-size: 14px;
    padding: 5px;
    color: white;
    position: absolute;
    text-align: center;
}

.statOkno {
    top: 25px;
    margin: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 15px;
    border: 3px solid #19933f;
    position: relative;
    border-radius: 30px;
}

.sila:hover .skryteOkno {
    opacity: 1;
    visibility: visible;
    background-color: crimson;
}

.sila:hover h1 {
    color: crimson;
}


.magia:hover .skryteOkno {
    opacity: 1;
    visibility: visible;
    background-color: blue;
}

.magia:hover h1 {
    color: blue;
}

.sta:hover .skryteOkno {
    opacity: 1;
    visibility: visible;
    background-color: #fada55;
}

.sta:hover h1 {
    color: #fada55;
}

.vie:hover .skryteOkno {
    opacity: 1;
    visibility: visible;
    background-color: darkorange;
}

.vie:hover h1 {
    color: darkorange;
}

.vit:hover .skryteOkno {
    opacity: 1;
    visibility: visible;
    background-color: green;
}

.vit:hover h1 {
    color: green;
}

.stam:hover .skryteOkno {
    opacity: 1;
    visibility: visible;
    background-color: darkgoldenrod;
}

.stam:hover h1 {
    color: darkgoldenrod;
}

.statOkno h1 {
    margin-top: auto;
    font-size: 15px;
    /*font-family: "Arial Black";*/
    letter-spacing: 3px;
    color: white;
    align-items: center;
}

.tlacitkoL {
    position: absolute;
    margin: -32px -1px;
    border: none;
    padding: 2px 7px;
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
    text-align-all: center;
    font-weight: bold;
    color: white;
}

.tlacitkoP {
    position: absolute;
    align-items: center;
    margin: -32px 176px;
    border: none;
    padding: 2px 7px;
    text-decoration: none;
    cursor: pointer;
    text-align-all: center;
    font-weight: bolder;
    font-size: larger;
    color: white;
}

.tlacitkoL:hover {
    color: red;
}

.tlacitkoP:hover {
    color: green;
}

.tPriehladne {
    background: none;
}

/*Schopnosti*/

.statySchopnosti {
    top: 273px;
    left: 50px;
    bottom: 15px;
    position: absolute;
}

.statySchopnosti h1 {
    font-size: 17px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}

.pouzivaneSchopnosti {
    top: 70px;
    margin: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 70px;
    border: 3px solid #19933f;
    position: absolute;
    border-radius: 30px;
}

.rozdelSchopnosti {
    top: 200px;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 350px;
    position: relative;
    border-radius: 30px;
}

.schopnostiUtokov {
    top: -2px;
}

.schopnostiUtokov {
    top: -10px;
    right: 30px;
    position: absolute;
}

.schopnostiUtokov h1 {
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    position: relative;
}

.schopnostiUtokovRozOkno {
    top: 25px;
    margin: 2px;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 70px;
    border: 3px solid #19933f;
    position: relative;
    border-radius: 30px;
    display: flex;
}

.schopnostiUtokovRozOkno li {
    list-style: none;
    margin: 0 3px -2px;
    opacity: 0.7;
}

.schopnostiUtokovRozOkno li:hover {
    opacity: 1;
}

.schopnostiUtokovRozOkno img {
    border-radius: 30px;
}

.fire:hover .skryteOkno {
    opacity: 1;
    visibility: visible;
    background-color: crimson;
}

.frost:hover .skryteOkno {
    opacity: 1;
    visibility: visible;
    background-color: blue;
}

.wind:hover .skryteOkno {
    opacity: 1;
    visibility: visible;
    background-color: darkseagreen;
}



/*adventura*/

.statyAdventura{
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 15px;
    position: absolute;
}

.statyAdventura h1 {
    font-size: 20px;
    /*font-family: "Arial Black";*/
    letter-spacing: 3px;
    color: white;
    text-align: center;
}

.scrollmenu {
    /*background-color: red;*/
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu a {
    display: inline-block;
    /*color: red;*/
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu2 {
    /*background-color: red;*/
    height: 250px;
    overflow: scroll;
    white-space: nowrap;
}

.scrollmenu2 a {
    display: inline-block;
    /*color: red;*/
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu2 a:hover {
    background-color: white;
}

.scrollmenu a:hover {
    background-color: white;
}

.tabulka ,td {
    position: relative;
    padding: 37px 37px;
    border: 5px solid;
    border-collapse: collapse;
}
td {
    background-color: white;
    opacity: 0.8;
}

.tabulka tr:hover td:hover {
    background-color: #adadad;
}
